#map
	height: 504px
	float: left
	width: 100%

#contact
	background: url(../img/bg-02.png) right -180px no-repeat
	float: left
	width: 100%
	padding: 60px 0 10px

	.wrap
		width: 740px
		clear: both


	h2
		font-size: 36px
		margin-bottom: 22px

	a
		display: block
		font-size: 30px
		line-height: 1.2

	form
		clear: both
		display: block
		float: left
		width: 100%
		margin-top: 60px

		label
			color: $black
			left: 8px
			padding: 0 5px 2px
			position: absolute
			top: 8px
			width: 100%
			+transition(0.5s)

			&.fixed
				background: #e1e2e3
				font-size: 0.8rem
				left: 0
				height: auto
				top: -7px
				width: 100%

		.text
			background: none
			border: solid 1px #e1e2e3
			color: $black
			font-size: 1rem
			padding: 5px
			margin-bottom: 16px
			width: 100%


			&:focus + label
				@extend label.fixed

		input.text
			height: 34px

		textarea.text
			height: 128px
			resize: none

	
.submit
	background: $black
	color: #fff
	cursor: pointer
	font-weight: 700
	height: 44px
	min-width: 192px
	padding: 0 19px
	text-transform: uppercase
	+transition(1s)

	&.hide
		opacity: 0

	&.loading
		background: transparent url(../img/loading.gif) 52px center no-repeat
	
	&.success, &.alert, &.error
		background: transparent
		cursor: default
		padding: 0
		text-transform: none
	
	&.success
		color: $green
		padding: 0

	&.alert
		color: $black
		padding: 0

	&.error
		color: $red
		padding: 0
