footer
	float: left
	width: 100%
	margin: 0 0 40px

	.wrap
		width: 740px

	figure
		display: inline-block
		float: right
	
		img
			display: inline-block
			vertical-align: top

		figcaption
			font-size: 20px
			margin: 53px 30px 0 90px
			display: inline-block
			vertical-align: top

