header
	background: #fff
	height: 180px
	z-index: 3
	position: fixed

	h1
		color: $dark-gray
		cursor: pointer
		float: left
		font-family: "Oswald"
		font-weight: 700
		text-align: right
		display: block
		text-transform: uppercase
		top: 50%
		+transform(translateY(-50%))

		span
			display: block


			&.big
				font-size: 46px
			
			&.small
				letter-spacing: 9px
				margin-top: 9px
				font-size: 22px
				margin-right: -9px

	button
		display: none
		background: transparent
		
	nav
		float: right
		top: 50%
		width: auto
		+transform(translateY(-50%))

		a
			display: inline-block
			font: 300 21px "Oswald"
			letter-spacing: 2px
			text-align: center
			text-transform: uppercase
			width: 110px
			+transition(0.2s)

			&:nth-of-type(1)
				text-align: left


			&:nth-of-type(2)
				border-left: solid 1px #e1e2e3
				border-right: solid 1px #e1e2e3
				width: 190px

			&:nth-of-type(3)
				text-align: right

			&:hover
				font-weight: bold