#banner
	background: url(../img/bg-01.png) 0px bottom no-repeat
	float: left
	height: 645px
	margin-top: 180px
	width: 100%

	.wrap
		padding: 52px 70px 0

	.text
		float: right

		h2
			display: block
			float: left
			font: 700 30px "Oswald"
			margin-top: 55px 
			text-transform: uppercase

		span
			border-left: solid 1px #e1e2e3
			display: block
			font-size: 24px
			float: left
			margin-left: 30px
			padding: 25px 0 10px 30px 

			p
				margin-bottom: 15px

#company
	background: url(../img/bg-02.png) 0 570px no-repeat
	float: left
	min-height: 645px
	width: 100%
	
	.wrap
		padding:  70px 70px 0

	h2
		color: $dark-gray
		display: block
		font-size: 46px
		font-weight: 600
		letter-spacing: -2.5px

	h3
		display: block
		font: 300 20px 'Oswald'
		margin: 10px 0 40px 3px
		text-transform: uppercase
	
	.row
		min-height: 480px
		text-align: center

		.col
			float: left
			margin-bottom: 50px
			min-height: 400px
			text-align: left

			&.left
				width: 490px
			&.right
				width: 310px

			figure
				cursor: pointer
				display: block
				height: 136px
				margin-bottom: 18px

				&[data-number="3"]
					height: 92px
					margin: 50% 0 0 0
					+transform(translateY(-50%))

					figcaption
						font-size: 20px
						font-family: 'oswald'
						width: 192px

					.icon
						margin-left: 0

				.icon
					float: left
					margin-left: -18px
					margin-right: 18px

				figcaption
					display: block
					float: left
					font-size: 14px	
					font-weight: 300
					line-height: 1.4
					top: 50%
					width: 150px
					+transform(translateY(-50%))

			h2
				clear: both
				font-size: 22px
				font-weight: 700
				margin-bottom: 16px
				letter-spacing: 0
				line-height: 1.4

				span
					display: block

			p
				line-height: 1.6
				text-align: left
				width: 374px