@import "compass/css3"
@import "compass/utilities/sprites"

$blue: #19a8f9
$green: #009755
$red: #db4732
$orange: #ff9801

$white: #ffffff
$gray: #b5c2c9
$black: #303031

$primary-color: #1d89ca

$light-blue: #46b7fb
$dark-gray: #5c5c5c

*
    border: 0
    +box-sizing(border-box)
    list-style: none
    margin: 0
    outline: none
    padding: 0
    position: relative
    text-decoration: none
    z-index: 1

::-moz-selection
    background: $blue
    color: #fff

::selection
    background: $blue
    color: #fff

html, body
    color: $dark-gray
    background: #f2f2f3
    font-family: 'open sans'
    font-size: 16px
    height: 100%
    width: 100%

body
    overflow-x: hidden
    
a
    color: inherit
    cursor: pointer

img
    display: block

header, section, footer, nav
    display: block
    float: left
    width: 100%

.bold, b
    font-weight: 700

.light
    font-weight: 300

.br
    display: block
    font-size: 0
    height: 1px

.wrap
    height: 100%
    max-height: 100%
    margin: 0 auto
    width: 960px

.v-centered
    display: block
    float: none
    position: absolute
    top: 50%
    +transform(translateY(-50%))

sup
    vertical-align: super
    font-size: smaller

button
    background: transparent
    border: 0