+keyframes(flip)
    0%
        +transform(rotateX(90deg))
    100%
        +transform(rotateX(0deg))

+keyframes(fadeIn)
    0%
        opacity: 0
    100%
        opacity: 1


+keyframes(fadeOut)
    0%
        display: block
        opacity: 1
    100%
        display: none
        opacity: 0

+keyframes(shake)
    0%
        +transform(translateY(-250%) translateX(-50%))
    20%
        +transform(translateY(-30%) translateX(-50%))
    40%
        +transform(translateY(-70%) translateX(-50%))
    60%
        +transform(translateY(-40%) translateX(-50%))
    80%
        +transform(translateY(-60%) translateX(-50%))
    100%
        +transform(translateY(-50%) translateX(-50%))

.modal
    display: none
    height: 100%
    position: fixed
    width: 100%
    z-index: 3
    +transition(0.5s)

    &.background
        background: $black
        height: 100%
        opacity: 0.9
        width: 100%

    &.active
        display: block
        animation-name: fadeIn
        animation-duration: 1s
        animation-iteration-count: 1

    &.form, &.banner
        background: $white
        border-radius: 2px
        left: 50%
        position: fixed
        top: 50%
        +transform(translateY(-50%) translateX(-50%))

    &.form
        border: none
        box-shadow: 10px 10px 0 $white, -10px -10px 0 $white, -10px 10px 0 $white, 10px -10px 0 $white, -20px 20px 20px $black, 20px 20px 20px $black
        height: auto
        padding: 50px
        width: 600px
        z-index: 9
        line-height: 1.6

        .shake_title
            display: none

        &.shake
            animation-name: shake
            animation-duration: 1s
            animation-iteration-count: 1

            .title
                display: none

            .shake_title
                display: block

        form
            width: 100%
            margin-top: 15px

            label
                color: #949494
                left: 8px
                padding: 0 5px 2px
                position: absolute
                top: 8px
                width: 100%
                +transition(0.5s)

                &.fixed
                    top: -7px
                    left: 0
                    font-size: 0.6rem
                    color: #fff
                    background: #949494
                    height: auto
                    width: 100%

            .text
                background: none
                border: solid 1px #949494
                color: #949494
                font-size: 1rem
                margin-bottom: 12px
                padding: 5px
                width: 100%

                &:focus + label
                    @extend label.fixed

            input.text
                height: 34px

            .nome
                content: "Nome"
                position: absolute
                left: 0
                top: 0
            
            textarea.text
                height: 126px
                resize: none

    &.banner
        border: solid 1px #ccc
        background: $white url(../img/loading.gif) center no-repeat
        border: solid 10px $white
        box-shadow: -10px 10px 10px $black, 10px 10px 10px $black
        height: auto
        max-width: 800px
        width: 90%

        .close-button
            color: $red
            cursor: pointer
            font-size: 2rem
            font-weight: bold
            position: absolute
            right: 8px
            text-align: center
            top: 0px
            z-index: 99

        .gallery
            display: none

            &.active
                display: block


        img
            width: 100%
            display: none
            +transition(1s)
            
            &.active
                display: block
                animation-name: fadeIn
                animation-duration: 1s
                animation-iteration-count: 1

        .ctrl
            background-color: transparent
            cursor: pointer
            display: block
            height: 100%
            position: absolute
            top: 0
            width: 50%
            z-index: 3
            -webkit-filter: invert(100%)

            &::before
                content: ''
                display: block
                height: 112px
                position: absolute
                top: 50%
                width: 32px
                +transform(translateY(-50%))

            &.left
                left: 0

                &::before
                    background: url(../img/arrow.png) 0 0
                    left: 20px

            &.right
                right: 0

                &::before
                    background: url(../img/arrow.png) 32px 0
                    right: 20px

        .counter
            background: rgba(255, 255, 255, 0.5)
            bottom: 12px
            cursor: default
            padding: 2px 0 4px
            position: absolute
            text-align: center
            width: 100%
            z-index: 4


    &.table
        min-width: 320px
        text-align: center
        margin: auto

        ul
            display: inline-block
            vertical-align: top
            width: auto
            margin: 20px auto
            // float: left

            li
                background: #fff
                padding: 15px
                text-align: left
                width: 300px
                
                &:nth-child(odd)
                    background: #eee

                &.title
                    background: $black
                    padding: 20px
                    font-weight: bold
                    color: #fff
                    text-align: center
                
                span
                    display: inline-block
                    
                    &.value
                        float: right
