@media only screen and (min-width: 960px) and (max-width: 1139px)



@media only screen and (min-width: 768px) and (max-width: 959px)



@media only screen and (min-width: 480px) and (max-width: 767px)



@media only screen and (max-width: 959px)
	header .wrap,
	#banner .wrap,
	#company .wrap,
	#contact .wrap,
	footer .wrap
		width: 100%
		padding: 20px

	header 
		height: 152px
		h1
			float: none
			top: 0
			margin: 0 auto 35px
			text-align: center
			+transform(translateY(0))

			span
				display: block
				font-family: "Oswald"

				&.big
					font-size: 28px
				
				&.small
					font-size: 14px
					letter-spacing: 9px
					margin-right: 0
					margin-top: 9px
					padding-left: 9px

		nav
			float: none
			width: auto
			text-align: center
			top: 0
			+transform(translateY(0))

			a
				display: inline-block
				font: 300 18px "Oswald"
				+transition(0.2s)

	#banner
		height: auto
		margin-top: 152px

		.text
			float: none

			h2
				text-shadow: 0 0 10px #fff 
				float: none
				margin: 25px auto
				text-align: center

			span
				border-left: 0
				border-top: solid 1px
				float: none
				padding: 25px 0 50px
				margin: 0 auto
				text-align: center
				text-shadow: 0 0 10px #fff 

				p
					margin-bottom: 15px

	#company
		min-height: 645px
		background: none

		.wrap
			padding:  20px
		
		h2
			display: block
			font-size: 40px
			text-align: center

		h3
			display: block
			font-size: 16px
			font-weight: 300
			margin: 15px 0 40px
			text-align: center
			text-transform: uppercase
		
		.spacer
			display: none


		.row
			min-height: 480px
			text-align: center

			.col, .col.left, .col.right
				display: inline-block
				float: none
				margin: 0 0 46px
				min-height: auto
				text-align: left
				vertical-align: top
				width: 100%

				.aerial-view
					display: none

				p
					width: 100%

				figure
					width: 310px
					margin: 0 auto

					&[data-number="3"]
						width: 345px
						+transform(translateY(0))


	footer
		margin: 20px 0

		img
			float: none
			margin: 20px auto
		


	

@media only screen and (max-width: 767px)
	header nav a:nth-of-type(2)
		width: 120px
		border-left: none
		border-right: none
	
	#banner, #contact
		background: none

	#company
		min-height: 645px

		.row
			min-height: 480px
			text-align: center

			.col
				margin: 0 26px

	footer
		text-align: center
		
		figure
			float: left
			display: block
			width: 50%

			figcaption
				float: none
				display: block
				margin: 0 auto 20px 



@media only screen and (max-width: 479px)

	header nav a
		width: 80px

		&:nth-of-type(2)
			width: 120px
			border-left: none
			border-right: none

	#company .row .col
		float: none
		margin: 20px auto
		min-height: 1px
		width: 100%

	#company .row .col figure.v-centered
		position: relative
		top: 0
		+transform(translateY(0))

	#company .row .col .v-centered figcaption
		width: 158px

	#map
		display: none



@media only screen and (max-width: 319px)
	header
		height: 91px

		h1
			margin: 0 auto

		nav
			display: none

	#banner
		margin-top: 91px


	#company .row
		.col, .col.left, .col.right
			margin: 0 0 26px
			width: 100%

			p
				width: 100%

	#company .row .col figure
		display: none
