#location {
  background: #d6d6d6;
  padding-top: 248px;
  padding: 60px 0;
}

#location p {
  text-align: center;
  width: 100%;
}

#location p.title {
  font-size: 25px;
}

#location p.subtitle {
  font-size: 17px;
}

#location .address {
  width: 692px;
  margin: 35px auto 75px;
  margin: 35px auto 60px;
  height: 129px;
}

#location .address img {
  float: left;
}

#location .address p {
  float: left;
  display: block;
  margin: 42px 0 0 24px;
  text-align: left;
  font-size: 27px;
  width: 452px;
}

#location #map {
  width: 100%;
  height: 460px;
}
