#video {
  background: #c9c9c9;
  padding: 60px 0;
  text-align: center;
}

#video .title {
  font: normal 61px "mano_negra";
}

#video .video {
  display: block;
  height: 510px;
  margin: 42px auto 49px;
  max-width: 853px;
  min-height: 150px;
  width: 100%;
}
