header
	.wrap
		h1 
			span.big Galpões
			span.small Modulares

		button
			span.stripe
			span.stripe
			span.stripe

		nav
			a(data-section='#company') Galpões
			a(data-section='#map').middle Localização
			a(data-section='#contact') Vendas


#banner
	.wrap
		.text
			h2 LOTEAMENTO INDUSTRIAL

			span
				p PÉ DIREITO COM 10 METROS 
				p GALPÕES DE 1.330 A 2.320m2
				p EXCELENTE LOCALIZAÇÃO


#company
	.wrap
		h2 Instale sua empresa aqui!
		h3 GALPÕES INDUSTRIAIS NO CORPORATE PARK

		.row
			.col.left
				figure(data-gallery='#hangar').hangar.thumb
					img(src='assets/img/icon-01.png').icon
					figcaption Clique para visualizar as imagens ilustrativas
				
				.text
					h2 LOCALIZAÇÃO
						span GALPÕES
					p Os galpões modulares serão edificados no loteamento industrial Corporate Park para atender empresas de pequeno e médio porte. O loteamento tem topografia diferenciada, oferece portaria blindada, controle de acesso, ruas projetadas para tráfego de caminhões e centro administrativo com sala de reunião, mini auditório e ambulatório.
			
			.spacer

			.col.right
				figure(data-gallery='#corporate').corporate.thumb
					img(src='assets/img/icon-02.png').icon
					figcaption Clique para visualizar as imagens ilustrativas
				
				.text
					h2 EXCELENTE 
						span LOCALIZAÇÃO
					p O loteamento industrial Corporate Park está localizado em uma região privilegiada próximo aos principais centros urbanos e industriais do estado de São Paulo. As margens da SP-75, o empreendimento oferece rápido acesso a Sorocaba, Indaiatuba, Campinas, Jundiaí e São Paulo, além do fácil acesso as principais rodovias como Bandeirantes, Anhanguera e Castelo Branco. Por tudo isso, os galpões modulares são um excelente investimento em logística para a sua empresa.

		.row
			.col.left
				//- img(src='assets/img/allotments.png').aerial-view
				figure(data-number='3').table_thumb
					img(src='assets/img/icon-03.png').icon.icon-03
					figcaption RELAÇÃO DE DISTÂNCIAS CIDADES, RODOVIAS, ETC

			.col.right
				.text
					h2 GALPÕES
						span MODULADOS

					p Através da parceria da Salto Empreendimentos Imobiliários com a empresa Pré Moldados Paraná, serão construídos galpões industriais de 1330 m² até 2320 m² com pé direito de 10 metros. Todos os galpões serão edificados respeitando as normas de segurança e acessibilidade exigidas, atendendo tanto empresas industriais como as de logística, com mezaninos amplos para escritório, acesso e piso para entrada de caminhões. A altura de 10 metros livre é um grande diferencial. Outro diferencial é que, pelos galpões serem vendidos na planta, poderemos alterar o projeto de acordo com a necessidade do cliente, como por exemplo, alterações da altura, do tamanho do escritório, utilização de docas, utilização de pontes rolantes e cores do fechamento.


#map
#contact
	.wrap

		h2.bold VENDAS

		a (15) 9 7403.9369
		a (11) 9 9179.3805

		form(data-form='#contact_form', onsubmit='send_form(this); return false')#contact_form
			div.textbox
				input(type='text', id='name', name='name', required).text.name
				label(for='name') Nome

			div.textbox
				input(type='email', id='email', name='email', data-form='#contact_form', required).text.email
				label(for='email') Email

			div.textbox
				input(type='tel', id='phone', name='phone').text.phone
				label(for='phone') Telefone

			div.textbox
				textarea(id='msg', name='msg').text.msg
				label(for='msg') Mensagem

			button.submit enviar


footer
	.wrap
		figure
			figcaption REALIZAÇÃO
			img(src="assets/img/salto.png", alt="")
		figure
			figcaption OBRAS
			img(src="assets/img/parana.png", alt="")

include ./modal.jade