
<div class="modal background"></div>
<div class="modal banner">
  <div class="close-button">&times;</div><img data-number="1" src="assets/img/modal-banner-img-01-480.jpg" srcset="assets/img/modal-banner-img-01-960.jpg 2x, assets/img/modal-banner-img-01-480.jpg 480w, assets/img/modal-banner-img-01-1280.jpg 960w" alt="" class="active"/><img data-number="2" src="assets/img/modal-banner-img-02-480.jpg" srcset="assets/img/modal-banner-img-02-960.jpg 2x, assets/img/modal-banner-img-02-480.jpg 480w, assets/img/modal-banner-img-02-1280.jpg 960w" alt=""/><img data-number="3" src="assets/img/modal-banner-img-03-480.jpg" srcset="assets/img/modal-banner-img-03-960.jpg 2x, assets/img/modal-banner-img-03-480.jpg 480w, assets/img/modal-banner-img-03-1280.jpg 960w" alt=""/><img data-number="4" src="assets/img/modal-banner-img-04-480.jpg" srcset="assets/img/modal-banner-img-04-960.jpg 2x, assets/img/modal-banner-img-04-480.jpg 480w, assets/img/modal-banner-img-04-1280.jpg 960w" alt=""/><img data-number="5" src="assets/img/modal-banner-img-05-480.jpg" srcset="assets/img/modal-banner-img-05-960.jpg 2x, assets/img/modal-banner-img-05-480.jpg 480w, assets/img/modal-banner-img-05-1280.jpg 960w" alt=""/><img data-number="6" src="assets/img/modal-banner-img-06-480.jpg" srcset="assets/img/modal-banner-img-06-960.jpg 2x, assets/img/modal-banner-img-06-480.jpg 480w, assets/img/modal-banner-img-06-1280.jpg 960w" alt=""/>
  <div class="thumbs">
    <button data-number="1" id="thumb1" class="active"></button>
    <button data-number="2" id="thumb2"></button>
    <button data-number="3" id="thumb3"></button>
    <button data-number="4" id="thumb4"></button>
    <button data-number="5" id="thumb5"></button>
    <button data-number="6" id="thumb6"></button>
  </div>
  <button title="Clique para ver a imagem anterior" class="ctrl left"></button>
  <button title="Clique para ver a próxima imagem" class="ctrl right"></button>
</div>
<div data-displayed="false" class="modal form">
  <div class="close-button">&times;</div>
  <div class="title"> 
    <p class="bold">A Deltalog liga pra você</p>
    <p>Preencha as informações abaixo e nosso consultor entrará em contato</p>
  </div>
  <div class="shake_title">
    <p class="bold">Só um minuto</p>
    <p>Gostaria de receber mais informações sem compromisso? Preencha as informações abaixo e nosso consultor entrará em contato</p>
  </div>
  <form data-form="#modal_form" onsubmit="send_form(this); egoi(this);  return false" id="modal_form">
    <div>
      <input type="text" id="name2" name="name" required="required" class="text name"/>
      <label for="name2">Nome</label>
    </div>
    <div>
      <input type="email" id="email2" name="email" data-form="#modal_form" required="required" class="text email"/>
      <label for="email2">Email</label>
    </div>
    <div>
      <input type="tel" id="phone2" name="phone" required="required" class="text phone"/>
      <label for="phone2">Telefone</label>
    </div>
    <div>
      <textarea id="msg2" name="msg" required="required" class="text msg"></textarea>
      <label for="msg2">Mensagem</label>
    </div>
    <div>
      <button class="submit">enviar</button>
    </div>
  </form>
</div>