.modal.background



.modal.banner
	.close-button &times;
	
	.gallery#hangar
		img(data-number='0', src="assets/img/hangar-01.jpg", alt="").active
		img(data-number='1', src="assets/img/hangar-02.jpg", alt="")
		img(data-number='2', src="assets/img/hangar-03.jpg", alt="")

	.gallery#corporate
		img(data-number='0', src="assets/img/corporate-park-01.jpg", alt="").active
		img(data-number='1', src="assets/img/corporate-park-02.jpg", alt="")
		img(data-number='2', src="assets/img/corporate-park-03.jpg", alt="")
		img(data-number='3', src="assets/img/corporate-park-04.jpg", alt="")
		img(data-number='4', src="assets/img/corporate-park-05.jpg", alt="")
		img(data-number='5', src="assets/img/corporate-park-06.jpg", alt="")

	span.counter

	button(title="Clique para ver a imagem anterior").ctrl.left
	button(title="Clique para ver a próxima imagem").ctrl.right


.modal.form(data-displayed='false')
	.close-button &times;
	.title 
		p.bold A Deltalog liga pra você
		p Preencha as informações abaixo e nosso consultor entrará em contato
	
	.shake_title
		p.bold Só um minuto
		p Gostaria de receber mais informações sem compromisso? Preencha as informações abaixo e nosso consultor entrará em contato

	form(data-form='#modal_form', onsubmit='send_form(this); egoi(this);  return false')#modal_form
		div
			input(type='text', id='name2', name='name', required).text.name
			label(for='name2') Nome

		div
			input(type='email', id='email2', name='email', data-form='#modal_form', required).text.email
			label(for='email2') Email

		div
			input(type='tel', id='phone2', name='phone', required).text.phone
			label(for='phone2') Telefone

		div
			textarea(id='msg2', name='msg', required).text.msg
			label(for='msg2') Mensagem

		div
			button.submit enviar


.modal.table
	ul.cities
		li.title DISTÂNCIAS DE CIDADES

		li
			span.text Indaiatuba
			span.value 19km
		li
			span.text Campinas
			span.value 47km
		li
			span.text Sorocaba
			span.value 44km
		li
			span.text Jundiaí
			span.value 60km
		li
			span.text Piracicaba
			span.value 70km
		li
			span.text São Paulo
			span.value 123km
		li
			span.text Santos
			span.value 191km


	ul.highways
		li.title DISTÂNCIA DE RODOVIAS

		li 
			span.text Rod. dos Bandeirantes (Campinas)
			span.value 35km
		li 
			span.text Rod. Castelo Branco (Sorocaba)
			span.value 26km
		li 
			span.text Rod. Anhanguera (Campinas)
			span.value 45km
		li 
			span.text Rodoanel
			span.value 86km
		li 
			span.text Marginal Tietê
			span.value 100km
		li 
			span.text Marginal Pinheiros
			span.value 102km

	ul.airports
		li.title  DISTÂNCIA DE PORTOS E AEROPORTOS

		li
			span.text Viracopos (Campinas)
			span.value 27km
		li
			span.text Congonhas (São Paulo)
			span.value 109km
		li
			span.text Guarulhos
			span.value 126km
		li
			span.text Porto de Santos
			span.value 192Km
